@charset "UTF-8";

/*
 Typical Device Breakpoints
 -------------------------------
 Tablet e Foldables: 641px - 1024px
 Desktop e Laptops: 1025px - 1600px
 TV e Monitores Ultra-Wide: 1921px acima
*/

@media screen and (min-width: 641px) and (max-width: 1024px) {
    body {
        background-image: linear-gradient(to top, #49A09D, #5F2C82);
    }
    
    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left; /* Faz a imagem ficar para a esquerda */
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right; /* Faz a imagem ficar para a direita */
        width: 70%;
    }
}

@media screen and (min-width: 1025px) {
     body {
        background-image: linear-gradient(to top, #49A09D, #5F2C82);
    }
    
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }
}